# Visual Studio / IDE files
.vs/
*.suo
*.user
*.sln.docstates
*.psess
*.vsp
*.vspx
*.sap
*.log
*.sqlite
*.db
*.db-shm
*.db-wal

# Copilot / AI Cache
.CopilotIndices/
copilot-chat/

# dependencies
node_modules/
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*